* {
    box-sizing: border-box;
}

:root {
    --primary-color-bgreen: #143c3c;
    --primary-color-black: #152427;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background: #efefef;
}

/* ========================================== Common ========================================================= */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.section-heading {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--primary-color-black);
}

.section-subtitle {
    margin-left: 21px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--primary-color-black);
}

.section-subtitle::before {
    position: relative;
    top: -6px;
    left: -21px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-black);
}

.btn {
    --height: 57px;

    display: inline-block;

    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    border: 1.5px solid var(--primary-color-bgreen);
    border-radius: 40px;
    background: var(--primary-color-bgreen);
}

.btn:hover {
    opacity: 0.8;
}

/* ========================================== Header ========================================================= */
.header {
    padding: 28px 0 12px;
    position: sticky;
    top: -12px;
    z-index: 5;
    font-family: "Public Sans";
    background: #efefef;
    opacity: 0;
    transition: 0.75s;
}

.header:hover {
    opacity: 1;
}

.header__bottom {
    position: relative;
}

.header__bottom::after,
.navbar__link--active::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.header__bottom::after {
    bottom: -12px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar__list {
    margin-left: auto;
    display: flex;
}

.navbar__item {
    position: relative;
    padding: 0 19px;
}

.navbar__link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    /* text color/black gray */
    color: #575d5e;
    transition: 0.3s;
}

.navbar__link--active,
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color-black);
}

.navbar__link--active::after {
    left: 19px;
    bottom: -26px;
    width: 16px;
    height: 2px;
    background: var(--primary-color-bgreen);
    z-index: 1;
}

.header__btn {
    margin-left: 69px;
}

/* ========================================== Hero ========================================================= */
.hero {
    font-family: "Public Sans", sans-serif;
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left */
.hero__content {
    flex-shrink: 0;
    width: 34.48%;
}

.hero__heading {
    width: 368px;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 1.2;
    color: var(--primary-color-black);
}

.hero__desc {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__btn-cta {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__cta {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    column-gap: 9px;
    outline: none;
    border: none;
    background: transparent;
}

.hero__cta:hover {
    cursor: pointer;
}

.hero__half-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border: 4px solid var(--primary-color-bgreen);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    background: transparent;
    transform: rotate(-45deg);
    transition: 0.5s;
}

.hero__cta:hover .hero__half-circle {
    border: 4px solid #83a17d;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
}

.hero__cta:hover .hero__icon {
    color: #fef6fb;
    background: var(--primary-color-black);
}

.hero__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: #fef6fb;
    background: #83a17d;
    transform: rotate(45deg);
}

.watch-video {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color-black);
}

/* ----------------------------------------- Right ------------------------------------------------- */
.hero__images {
    position: relative;
    display: flex;
    column-gap: 20px;
    width: 56.67%;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img--down {
    margin-top: 78px;
}

/* ----------------------------------------- Decor ------------------------------------------------- */
.hero__decor {
    position: absolute;
}

.hero__decor-fire {
    z-index: 1;
}

.hero__decor-fire-1 {
    top: -24px;
    left: -214px;
}

.hero__decor-line-1 {
    top: -32px;
    left: -172px;
}

.hero__decor-fire-2 {
    bottom: -66px;
    right: 3px;
}

.hero__decor-line-2 {
    bottom: -88px;
    left: 31px;
}

/* ========================================== Brand ========================================================= */
.brand {
    margin-top: 130px;
}

.brand__inner {
    padding: 76px 122px;
    border-radius: 100.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e2eddf;
}

.brand__logo-3 {
    display: flex;
    column-gap: 14px;
}

/* ========================================== Services ========================================================= */
.services {
    margin-top: 66px;
    padding: 40px 0;
}

/* ----------------------------------------- Service top ------------------------------------------------- */

.services__row-top {
    margin-top: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.services__heading {
    max-width: 520px;
}

.services__heading::after {
    position: relative;
    left: 12px;
    bottom: 10px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.services__control {
    margin-bottom: 9px;
    display: flex;
    column-gap: 17px;
}

.services__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #e2eddf;
    color: var(--primary-color-black);
    background: #e2eddf;
    transition: 0.4s;
}

.services__control-btn:hover {
    cursor: pointer;
    border: 1px solid var(--primary-color-black);
    color: #fff;
    background: var(--primary-color-black);
}

/* ----------------------------------------- Service bottom ------------------------------------------------- */
.services__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.services-item {
    border-radius: 20px;
}

.services-item__thumb-block {
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.services-item__thumb {
    display: block;
    max-width: 100%;
    height: 318px;
    object-fit: cover;
    transition: all 0.4s;
}

.services-item__thumb:hover {
    transform: scale(1.1);
}

.services-item__body {
    padding: 24px 0;
    transition: all 0.4s;
    border-radius: 0 0 20px 20px;
}

.services-item:hover .services-item__body {
    padding: 24px 18px;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.5);
    background: #ffffff;
}

.services-item__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color-black);
}

.services-item__desc {
    margin-top: 18px;
    max-width: 268px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* ========================================== About ========================================================= */
.about {
    margin-top: 109px;
    padding: 40px 0;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__img-block {
    position: relative;
}

.about__images {
    margin-top: 13px;
    display: flex;
    column-gap: 21px;
}

.about__img {
    display: block;
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img--down {
    margin-top: 77px;
}

.about__img--big {
    width: 286px;
}

/* Decor */
.about__fire-decor {
    position: absolute;
    top: -18px;
    left: 46px;
    transform: rotate(-10deg);
}

.about__line-decor {
    position: absolute;
    top: 39px;
    left: 54px;
    transform: rotate(12.64deg);
}

/* Stats */
.about-stats {
    font-family: "Public Sans", sans-serif;
    position: absolute;
    right: -9px;
    bottom: 8px;
    padding: 0 17px;
    border-radius: 8px;
    background: #fff;
}

.about-stats:hover {
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
}

.about-stats__block-top {
    padding: 19px 6px 0;
}

.about-stats__heading {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--primary-color-black);
}

.about-stats__total {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.about-stats__stat {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--primary-color-black);
}

.about-stats__chart {
    margin-top: 3px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2px;
}

.about-stats__chart-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background: #83a17d;
    border-radius: 10px;
    z-index: 1;
}

.about-stats__chart-2 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: #eaeaea;
    border-radius: 10px;
}

.about-stats__loading {
    margin-top: 3px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    text-align: right;
    color: var(--primary-color-black);
}

.about-stats__block-bottom {
    margin: 3px 0 11px;
}

.about-stats__circle {
    box-sizing: unset;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 3px solid #eaeaea;
    background: var(--primary-color-bgreen);
}

.about-stats__text-ava {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-stats__desc {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--primary-color-black);
}

.about-stats__ava-group {
    display: flex;
}

.about-stats__ava {
    margin-right: -6px;
    outline: 1px solid #fff;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.about-stats__ava:last-child {
    margin-right: 0;
}

/* Right */
.about__content {
    width: 43%;
}

.about__subtitle {
    line-height: 1.12;
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.about-row {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-row__stat {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--primary-color-black);
}

.about-row__desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

.about__line {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background: #83a17d;
}

/* ========================================== Process ========================================================= */
.process {
    margin-top: 39px;
    padding: 40px 0;
}

.process__heading {
    margin-top: 20px;
    max-width: 477px;
}

.process__heading::after {
    position: relative;
    left: 12px;
    bottom: 10px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.process__list {
    margin-top: 81px;
    display: flex;
    flex-direction: column;
}

.process-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 185px;
    border-bottom: 1px solid #83a17d;
    padding: 0 41px 0 20px;
    transition: all 0.4s;
}

.process-item__number {
    margin-right: 49px;
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 52px;
    color: var(--primary-color-bgreen);
}

.process-item__heading-cta {
    display: flex;
    flex-direction: column;
}

.process-item__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 22px;
    color: #152427;
}

.process-item__cta {
    display: none;
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 18px;
    text-decoration: underline;
    color: #575d5e;
}

.process-item__desc {
    max-width: 572px;
    margin-left: auto;
    font-weight: 500;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
}

.process-item__desc--hidden {
    display: none;
}

.process-item__img {
    position: absolute;
    bottom: 0;
    right: 92px;
}

/* Hover */
.process-item:hover {
    border-bottom: 1px solid #e2eddf;
    padding: 0 41px 0 30px;
    background: #e2eddf;
    border-radius: 33px;
}

.process-item:hover .process-item__cta {
    display: block;
}

.process-item:hover .process-item__desc--hidden {
    display: block;
}

.process-item:hover .process-item__img {
    display: none;
}

/* ========================================== Process ========================================================= */
.project {
    margin-top: 108px;
    padding: 116px 0 63px;
    background: var(--primary-color-bgreen);
}

.project__decor-positioned {
    position: relative;
}

/* ----------------------------------------- Project top ------------------------------------------------- */
.project__top {
    display: flex;
    align-items: center;
}

.project__heading {
    max-width: 457px;
    color: #e7f9f9;
}

.project__heading::after {
    position: relative;
    left: 12px;
    bottom: 10px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #83a17d;
}

.project__desc-cta {
    font-family: "Public Sans", sans-serif;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    max-width: 570px;
}

.project__desc {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}

.project__cta-icon {
    margin-top: 13px;
    display: flex;
    align-items: center;
    transition: all 0.4s;
}

.project__cta {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.project__icon {
    margin-left: 26px;
    color: #fff;
}

.project__cta-icon:hover * {
    color: #80a07b;
}

/* ----------------------------------------- Project bottom ------------------------------------------------- */
.project__bottom {
    margin-top: 65px;
}

.project__video {
    width: 100%;
    height: 544px;
    border-radius: 22px;
    object-fit: cover;
}

/* ----------------------------------------- Decor ------------------------------------------------- */
.project__fire-decor {
    position: absolute;
    top: 97px;
    right: -57px;
}

.project__line-decor {
    position: absolute;
    bottom: 300px;
    right: -132px;
    transform: matrix(-0.2, -0.98, -0.98, 0.2, 0, 0);
}

/* ========================================== features ========================================================= */
.features {
    margin-top: 100px;
    padding: 40px 0;
}

/* ----------------------------------------- TOP ------------------------------------------------- */
.features__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__heading {
    max-width: 520px;
}

.features__desc {
    margin-top: 20px;
    max-width: 547px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

/* ----------------------------------------- BOTTOM ------------------------------------------------- */
.features__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 362px;
    column-gap: 45px;
}

.features-item {
    display: flex;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.4s;
}

.features-item__heading {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #152427;
}

.features-item__desc {
    margin-top: 9px;
    max-width: 286px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* Hover */
.features-item:hover {
    border-color: #fff;
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    background: #ffffff;
    transform: translateY(-59px);
}

/* ========================================== Blog ========================================================= */
.blog {
    margin-top: 104px;
    padding: 40px 0;
}

.blog__subtitle {
    line-height: 1.12;
}

/* ----------------------------------------- TOP ------------------------------------------------- */
.blog__top {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    position: relative;
    width: 520px;
}

.blog__heading::after {
    position: absolute;
    right: -53px;
    bottom: 20px;
    content: "";
    display: inline-block;
    width: 82px;
    height: 3px;
    background: var(--primary-color-black);
}

.blog__desc {
    max-width: 409px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

/* ----------------------------------------- BOTTOM ------------------------------------------------- */
.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item__thumb-block {
    overflow: hidden;
    border-radius: 40px 40px 0px 0px;
}

.blog-item__thumb {
    display: block;
    width: 100%;
    height: 317px;
    object-fit: cover;
    transition: 0.4s;
}

.blog-item__thumb:hover {
    transform: scale(1.1);
}

.blog-item__body {
    padding: 26px 14px 12px 0;
    transition: 0.4s;
}

.blog-item__btn {
    width: 107px;
    height: 26px;
    outline: none;
    border: 1px solid #e2eddf;
    border-radius: 20px;
    background: #e2eddf;
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
}

.blog-item__btn:hover {
    cursor: pointer;
}

.blog-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color-bgreen);
}

.blog-item__padding-bot {
    margin-top: 13px;
    max-width: 300px;
    padding-bottom: 38px;
    border-bottom: 1px solid #c4c4c4;
}

.blog-item__padding-bot--up {
    padding-bottom: 8px;
}

.blog-item__date {
    max-width: 300px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    text-align: right;
    color: #575d5e;
}

/* Hover */
.blog-item:hover .blog-item__body {
    padding: 26px 30px 12px 30px;
    border-radius: 0px 0px 20px 20px;
    background: #ffffff;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__btn {
    color: #e2eddf;
    background: var(--primary-color-bgreen);
}

.blog-item__body:hover {
    padding: 26px 30px 12px 30px;
    border-radius: 0px 0px 20px 20px;
    background: #ffffff;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.blog-item__body:hover .blog-item__btn {
    color: #e2eddf;
    background: var(--primary-color-bgreen);
}

/* ========================================== Footer ========================================================= */
.footer {
    margin-top: 82px;
    padding: 72px 0 50px;
    background: #143c3c;
}

.footer__inner {
    display: flex;
    align-items: center;
}

/* Left */
.footer__left {
    max-width: 36.06%;
}

.footer__heading {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 3.2rem;
    color: #ffffff;
}

.footer-form {
    padding-bottom: 20px;
    border-bottom: 1px solid #6a8383;
    width: 354px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-form__input {
    display: inline-block;
    width: 300px;
    height: 40px;
    outline: none;
    border: 0;
    font-weight: 600;
    font-size: 2.2rem;
    color: #6a8383;
    background: transparent;
}

.footer-form__submit {
    padding: 10px 13px;
    outline: none;
    border: none;
    color: #c4c4c4;
    background: transparent;
}

.footer-form__submit:hover {
    cursor: pointer;
}

.footer__socials {
    display: flex;
    column-gap: 22px;
    margin-top: 47px;
}

.footer__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    color: #fff;
    background: transparent;
    transition: 0.4s;
}

.footer__icon:hover {
    cursor: pointer;
    border-color: #a75325;
    background: #a75325;
}

/* Right */
.footer__row {
    font-family: "Public Sans", sans-serif;
    margin-left: auto;
    display: flex;
    column-gap: 50px;
}

.footer-col__heading {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.footer-col__list {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.footer-col__item {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25;
    color: #6a8383;
    transition: 0.4s;
}

.footer-col__item:hover {
    text-decoration: underline;
}

/* Line */
.footer__line {
    margin-top: 45px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
